.header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: hsla(0,0%,100%,.98);
}
.titre{
    color: #00b39b;
}
.img{
    margin-top: 90px;
margin-left: 50%;
}
.body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
     } 
     ul li a .nav-link :active {
    color :  #00b39b ; 
}
.container{
    text-align: center;
}
.text {
    display: flex;
    padding-left:  80px; 
    padding-right: 80px ;
    margin-top: 50px;
    margin-bottom: 50px;
}
.left{
    padding-left: 30px;
}


/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.image-flip:hover .backside,#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #75dfc6;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #374449;
}


.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #dee4e2 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #e1f1ee !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-text{
color: white;
}
.text2{
    color:#00b39b;
   margin-left: 80px;
}
.text2 h1 {
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
}

.brands__logos li {
    font-size: 1rem;
    display: inline-block;
    width: 160px;
    padding: 5px 0;
  }
  .brands__logos a {
    display: inline-block;
    padding: 5px 0;
 }
 a{
 text-decoration: none;
 background-color: transparent;

 color: #3d83df;
 outline: 0;
 transition: all .2s ease 0s;
}
.brands__logos a path {
    transition: all .2s ease 0s;
    fill: hsla(0,0%,67%,.7);  }
    .brands__logos .tuotempo {
        width: 175px;
    }    
    